@import "../../../../styles/variables";
@import "../../../../styles/_mixins.scss";

.home2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

.textoPaseos{
  text-align: center;
  font-size: 30px;
}
.perrosh1 {
  text-align: center;
}
  .buscar-paseos-container,
  .lista-perros-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filtros-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .paseos-list,
  .perros-list {
    // display: grid;
    gap: 20px;

    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
