@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.paseo-detalle {
  background-color: white;
  border-radius: $border-radius;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


.mapita{
   display: flex;
  margin: 10px 10px;
}
.detalles2 {
  display: flex;
  padding: 20px;
  margin-left: 30px;
}
.paseos {
  margin-left: 100px;
  padding: 500px;
}
.map-container {
  display: flex;
  margin: 10px 10px;
}
  p {
    margin: 10px 0;

    strong {
      color: $primary-color;
    }
  }

  form {
    margin-top: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    select,
    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}
