@import "../../../../../styles/variables";
@import "../../../../../styles/_mixins.scss";

.card {
  border: 1px solid darken($background-color, 10%);
  border-radius: $border-radius;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  h2 {
    font-size: 1.5rem;
    color: $primary-color;
  }

  p {
    margin: 5px 0;
    color: $text-color;
  }

  .detalles {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .detalles:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .detalles:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .dealles:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }
  
  .detalles:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .detalles:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  // a {
  //   display: inline-block;
  //   margin-top: 10px;
  //   text-decoration: none;
  //   background-color: $primary-color;
  //   color: white;
  //   padding: 10px 20px;
  //   border-radius: $border-radius;

  //   &:hover {
  //     background-color: darken($primary-color, 10%);
  //   }
  // }
}
