@import "../styles/variables";
@import "../styles/_mixins.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Cambia según tu preferencia */
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh; /* Full viewport height */
// }

main {
  flex: 1; /* Pushes footer down */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $secondary-color;
  color: white;
  font-size: 0.9rem;
}
