@import "../../../styles/variables";
@import "../../../styles/_mixins.scss";

footer {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $secondary-color;
  color: white;
  font-size: 0.9rem;
}
